<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="mainLog"
			xsi:type="AsyncWrapper"
				queueLimit="100000"
				batchSize="500000"
				overflowAction="Discard">
			<target xsi:type="File"
					fileName="${nlogdir}/Log/${shortdate}.txt"
					layout="${date:format=HH\:mm\:ss.fff} : ${message}"
					encoding="utf-8"
					autoFlush="true"/>
		</target>
	</targets>

	<rules>
		<logger name="main" minLevel="Trace" writeTo="mainLog"/>
	</rules>
</nlog>